/* * { margin: 0; padding: 0; border: none; font-family: Georgia, sans-serif; box-sizing: border-box; -ms-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
body { font-size: 1.05em; background-color: #ddd; margin: 28px;  }
a { text-decoration: none; color: black; cursor: pointer; }
a img { vertical-align: text-bottom; }
.center { text-align: center; }

nav { float: left; width: 200px; padding-left: 3px; border: 1px solid black; border-right: 0; }
nav h2 { font-size: 1em; text-decoration: underline; }
nav ul li { list-style: none; }


form input, form select, form textarea { font-weight: bold; }
form#frm-searchForm { border: 1px solid black; border-bottom: 0; }
form#frm-searchForm input { width: 100%; padding: 5.5px 30px; }
form#frm-searchForm img { position: absolute; }
.flashes { font-style: italic; }
.flashes img { vertical-align: text-bottom; }
.flashes .success { color: green; }
.flashes .error { color: red; }


table { min-width: 1000px; border-collapse: collapse; }
table tr th, table tr td { border: 1px solid black; background-color: white; }
table tr td.img, table tr th.img  { width: 27px; }
table tr th:not(.img) a, table tr td:not(.img):not(.pages) a { display: block; padding: 3px; }
table tr th.back, table tr td.back { padding: 3px; background-color: #ddd; }

table tr td.pages { padding: 3px 0; text-align: center; }
table tr td.pages a { padding: 3.5px 3px; font-weight: bold; }
table tr td.pages a.active { color: red; }

form.form { width: 750px; }
form.form input { width: 100%; margin: 5px 0; padding: 4.5px; border: 1px solid black; outline: none; }
form.form input[type=submit] { padding: 3.5px; cursor: pointer; }
form.form select { width: 100%; margin: 5px 0; padding: 3.5px; border: 1px solid black; cursor: pointer; outline: none; }
form.form select option { cursor: pointer; outline: none; }
form.form textarea { width: 100%; height: 100px; margin: 5px 0; padding: 4.5px; border: 1px solid black; resize: none; outline: none; }
form.form *[required] { border-color: red; }
form.form *[readonly] { background-color: #ccc; }

/* jQuery FancyBox 2.1.5 */
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp { padding: 0; margin: 0; border: 0; outline: none; vertical-align: top; }
.fancybox-wrap { position: absolute; top: 0; left: 0; z-index: 8020; }
.fancybox-skin { position: relative; border: 10px solid #999; background-color: #FFF; color: #444; text-shadow: none; }
.fancybox-opened { z-index: 8030; }
.fancybox-outer, .fancybox-inner { position: relative; }
.fancybox-inner { overflow: hidden; }
.fancybox-type-iframe .fancybox-inner { -webkit-overflow-scrolling: touch; }
.fancybox-error { color: #444; font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif; margin: 0; padding: 15px; white-space: nowrap; }
.fancybox-image, .fancybox-iframe { display: block; width: 100%; height: 100%; }
.fancybox-image { max-width: 100%; max-height: 100%; }
.fancybox-close, .fancybox-prev span, .fancybox-next span { background-image: url('../images/fancybox_sprite.png'); }
#fancybox-loading { position: fixed; top: 50%; left: 50%; margin-top: -22px; margin-left: -22px; background-position: 0 -108px; opacity: 0.8; cursor: pointer; z-index: 8060; }
#fancybox-loading div { width: 128px; height: 128px; background: url('../images/loading.gif') center center no-repeat; }
.fancybox-close { position: absolute; top: -18px; right: -18px; width: 36px; height: 36px; cursor: pointer; z-index: 8040; }
.fancybox-nav { position: absolute; top: 0; width: 40%; height: 100%; cursor: pointer; text-decoration: none; background: transparent url('../images/blank.gif'); /* helps IE */ -webkit-tap-highlight-color: rgba(0,0,0,0); z-index: 8040; }
.fancybox-prev { left: 0; }
.fancybox-next { right: 0; }
.fancybox-nav span { position: absolute; top: 50%; width: 36px; height: 34px; margin-top: -18px; cursor: pointer; z-index: 8040; visibility: hidden; }
.fancybox-prev span { left: 10px; background-position: 0 -36px; }
.fancybox-next span { right: 10px; background-position: 0 -72px; }
.fancybox-nav:hover span { visibility: visible; }
.fancybox-tmp { position: absolute; top: -99999px; left: -99999px; visibility: hidden; max-width: 99999px; max-height: 99999px; overflow: visible !important; }
.fancybox-lock { overflow: hidden !important; width: auto; }
.fancybox-lock body { overflow: hidden !important; }
.fancybox-lock-test { overflow-y: hidden !important; }
.fancybox-overlay { position: absolute; top: 0; left: 0; overflow: hidden; display: none; z-index: 8010; }
.fancybox-overlay-fixed { position: fixed; bottom: 0; right: 0; }
.fancybox-lock .fancybox-overlay { overflow: auto; overflow-y: scroll; }
.fancybox-title { visibility: hidden; font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif; position: relative; text-shadow: none; z-index: 8050; }
.fancybox-opened .fancybox-title { visibility: visible; }
.fancybox-title-float-wrap { position: absolute; bottom: 0; right: 50%; margin-bottom: -35px; z-index: 8050; text-align: center; }
.fancybox-title-float-wrap .child { display: inline-block; margin-right: -100%; padding: 2px 20px; background: transparent; background: rgba(0, 0, 0, 0.8); text-shadow: 0 1px 2px #222; color: #FFF; font-weight: bold; line-height: 24px; white-space: nowrap; }
.fancybox-title-outside-wrap { position: relative; margin-top: 10px; color: #fff; }
.fancybox-title-inside-wrap { padding-top: 10px; }
.fancybox-title-over-wrap { position: absolute; bottom: 0; left: 0; color: #fff; padding: 10px; background: #000; background: rgba(0, 0, 0, .8); }